<h1 class="title is-2">Posts:</h1>
<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="column is-half is-centered">
    <% @posts.each do |post| %>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-3"><%= post.title %></p>
            <p><%= post.body %></p>
          <% if user_signed_in? %>
            <div class='username' >- <%= post.user.username %></div>
          <% end %>
          <% if user_signed_in? && post.user_id == current_user.id %>
            <%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} do %>
              Delete <i class="fa fa-trash card-footer-item"></i>
            <% end %>
          <% end %>
          </div>
        </div>
      </article>
    </div>
  <% end %>
  </div>
  <div class="column is-one-quarter"></div>
</div>